.new-diagnostic-page
  .themes-inputs
    padding-top: +rem-calc(25px)
    counter-reset: theme-ids

    label
      color: $primary-color
      font-size: 140%
      padding-bottom: +rem-calc(15px)
      counter-increment: theme-ids
      &.checked
        color: $alert-color
      &:before
        content: counter(theme-ids)
        padding-right: +rem-calc(7px)
        font-size: 60%
        vertical-align: top

.diagnostic-page
  .result-item
    margin-bottom: +rem-calc(50px)
    .theme
      margin-bottom: +rem-calc(20px)
    .topic
      padding-left: +rem-calc(25px)
      h5
        font-weight: 400

  .more-items
    margin-top: +rem-calc(100px)
    h5
      color: $alert-color
