@mixin vertical-align
  position: absolute
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

.new-diagnostic-page
  .themes-inputs
    padding-top: +rem-calc(25px)

.new-diagnostic-page .themes-inputs,
.questions-page .answer-inputs
  label
    color: $alert-color
    font-size: 140%
    //margin-bottom: +rem-calc(10px)
    padding: +rem-calc(8px)
    border-radius: $global-radius
    font-weight: 500
    float: left
    &.checked
      background: $alert-color
      color: #fff
    &:before
      padding-right: +rem-calc(7px)
      font-size: 60%
      vertical-align: top

.diagnostic-page
  .result-item
    margin-bottom: +rem-calc(50px)
    .theme
      margin-bottom: +rem-calc(20px)
    .topic
      padding-left: +rem-calc(25px)
      h5
        font-weight: 400

  .more-items
    margin-top: +rem-calc(100px)
    h5
      color: $alert-color

.questions-page
  .item
    margin-bottom: +rem-calc(25px)
    .theme
      margin-bottom: +rem-calc(20px)
    .questions
      padding-left: +rem-calc(25px)
      h5
        font-weight: 400
    .question
      background-color: #f4f4f4
      border-radius: +rem-calc(10px)
      margin-bottom: +rem-calc(20px)
      min-height: 80px
      .question-text
        b
          color: $secondary-color
        padding: 29px
        font-size: +rem-calc(20px)
      h5
        font-size: 150%
  .answer-inputs
    .radio
      border-radius: +rem-calc(10px)
      border: 2px solid
    label
      float: left
      margin-bottom: 0px
  .answers
    @include vertical-align
    right: 0px
    .radio_buttons
      position: relative
      float: right
