.home
  .cta
    background: asset-url('banner-home.jpg') center
    height: +rem-calc(500px)

  .logo
    background: asset-url('logo-home.png') center no-repeat
    height: +rem-calc(135px)
    margin-top: +rem-calc(45px)

  .cta-text
    color: #fff
    margin-top: +rem-calc(60px)
    text-align: center
    text-shadow: 4px 4px 9px #333

  .buttons
    li
      display: inline
      list-style-type: none
      a
        padding-top: +rem-calc(14px)
        padding-bottom: +rem-calc(35px)
        text-align: center
        font-size: +rem-calc(17px)
        margin-top: +rem-calc(20px)
        height: +rem-calc(40px)


  .video
    margin-top: +rem-calc(80px)
    margin-bottom: +rem-calc(80px)
    iframe
      border: 5px solid white
      outline: #ccc solid thin
    .what-is
      .content
        font-size: +rem-calc(24px)
        color: $link-color
        margin-top: +rem-calc(45px)
        text-align: center

  .entepreneur
    background: asset-url('graphy.png')
    .content
      margin-top: +rem-calc(50px)
    height: +rem-calc(600px)
    background-color: #ddd
    .small
      font-size: 13pt
      color: $secondary-color
    .see-more
      color: #fff
      margin-top: +rem-calc(60px)
      float: right
    .white
      border-radius: $global-radius
      height: +rem-calc(365px)
      text-align: center
      margin-top: +rem-calc(22px)

      .discover
        padding-top: +rem-calc(40px)
      .see-content
        padding-top: +rem-calc(60px)
      .search
        padding-top: +rem-calc(20px)

      .text
        font-size: +rem-calc(16px)
        line-height: +rem-calc(23px)

      .discover-text
        margin: +rem-calc(35px 15px 0 20px)
        color: $primary-color
      .see-content-text
        margin: +rem-calc(30px 23px 0 23px)
        color: $secondary-color
      .search-text
        margin: +rem-calc(30px 25px 0 25px)
        color: $link-color

  .organization
    background-color: $alert-color

    .organization-box
      border-radius: $global-radius
      background-color: #f8aa69
      margin-top: +rem-calc(60px)
      margin-bottom: +rem-calc(60px)

      .content-image
        padding: +rem-calc(35px 0 0 35px)
        float: left

      .content-title
        padding: +rem-calc(35px 0 0 15px)
        float: left
        h4
          color: white
          font-weight: 600

    .text
      padding-top: +rem-calc(20px)
      padding-bottom: +rem-calc(35px)
      font-size: +rem-calc(18px)
      color: #fff
      line-height: +rem-calc(23px)
      text-align: center

  .sponsors
    height: +rem-calc(560px)

    .title
      text-decoration: bold
      font-size: 13pt
      color: #d9d9d9
      &#realization
        padding-top: +rem-calc(65px)
      &#sponsors-title
        padding-top: 100px

    #alianca-text
      font-size: +rem-calc(18px)
      line-height: 1.3
      margin-top: 20px

    .logos
      padding-top: +rem-calc(20px)
      ul
        margin: 0
        li
          display: inline
          list-style-type: none
          margin: +rem-calc(0 10px 0 10px)

