.search-page
  min-height: +rem-calc(500px)
  header.title
    margin-bottom: +rem-calc(20px)

    h2
      margin-bottom: 0
      line-height: 1

    h3
      margin-top: 0 
      margin-bottom: +rem-calc(20px)

  input.search
    height: +rem-calc(56px)
    border: 1px solid $primary-color
    border-radius: $global-radius
    padding-left: +rem-calc(45px)

  i.fa-search
    font-size: 200%
    color: $primary-color
    position: absolute
    padding: +rem-calc(15px)

  .results
    margin-bottom: +rem-calc(50px)

  .hint
    li
      font-size: 85%
      padding: +rem-calc(5px)
    font-style: italic
    color: $small-font-color

  .no-result
    text-align: center
    margin: +rem-calc(40px 0 40px 0)
