.login-logo
  padding: 2rem 0 3.5rem 0

.box
  background: white
  margin-top: 1em
  overflow: hidden
  border-radius: 4px
  padding: 2.5rem 2rem
  color: #535362
  margin-bottom: 3rem
  border: 1px solid $border-color

  .top
    margin-bottom: 3rem

  h2
    margin-bottom: 1.4rem
    font-size: 1.7rem
    color: #535362
    font-weight: 600

  p
    margin: 0

.divider
  height: 1px
  margin: 2.1em 0
  text-align: center

  p
    color: #79808b
    position: relative
    top: -1.5rem
    font-size: 1.6rem

















