.single-content 
  .top
    margin-top: +rem-calc(42)
    .icon-single-page
      float: left
      margin-right: +rem-calc(30)
      margin-bottom: +rem-calc(16)

    h2, h4
      line-height: 1
    
    h2
      color: $secondary-color

    h4
      margin-bottom: 0
      small
        font-weight: 400

  article
    margin-top: +rem-calc(20)
    margin-top: +rem-calc(20)

  .about
    margin-top: +rem-calc(30)
    h3
      color: $primary-color

    #vote-yes
      background-color: #2cbaa6
      padding: 10px
      border-radius: 5px
      text-align: center
      text-transform: capitalize
      color: white !important
      padding-left: +rem-calc(10)