.single-content
  .top
    background: #eee
    height: +rem-calc(160)

    h2, h4
      line-height: 1
    
    h2
      color: $primary-color

    h4
      margin-bottom: 0
      padding-top: +rem-calc(42)

  article
    margin-top: +rem-calc(20)

    h3
      color: $secondary-color

  aside 
    background-color: $secondary-color
    height: +rem-calc(50)
    padding-top: +rem-calc(10)
    padding-bottom: +rem-calc(10)