.user-page, .org-page
  min-height: +rem-calc(500)
  header.title
    height: +rem-calc(135px)
    margin-bottom: +rem-calc(75px)
    h2
      margin-top: +rem-calc(30px)

    .info
      p
        float: left
        margin-right: +rem-calc(25px)

    .user-tabs
      padding-top: +rem-calc(15px)
      dd
        float: left
        padding-right: +rem-calc(25px)
        a
          color: lighten($body-font-color, 20%)
        &.active
          a
            color: $body-font-color
            font-weight: bold

