.user-page, .org-page
  min-height: +rem-calc(500)
  header.title
    margin-bottom: +rem-calc(10px)
    padding-top: 20px
    padding-bottom: 0
    h2
    .info
      p
        float: left
        margin-right: +rem-calc(25px)
    .avatar
      margin-top: 10px
    #name
      float: left
      margin-left: 18px
      h3
        font-size: 18px
        color: #666
    #contact
      float: left
      margin-top: 10px
      margin-left: 25px
    #about
      margin-left: 3px

.user-tabs
  padding-top: +rem-calc(15px)
  dd
    float: left
    padding-right: +rem-calc(25px)
    a
      color: lighten($body-font-color, 20%)
    &.active
      a
        color: $body-font-color
        font-weight: bold

