.button
  @extend .radius

  &.border-button
    color: white
    border: 2px solid
    background: transparent !important
    padding-top: rem-calc(3.5)
    padding-bottom: rem-calc(4.5)

  &.facebook
    background: $facebook-color
    &:hover
      background: lighten($facebook-color, 0)
