.button
  @extend .radius

  &.border-button
    color: white
    border: 2px solid
    background: rgba(255,255,255,0.1) !important
    padding-top: +rem-calc(3.5)
    padding-bottom: +rem-calc(4.5)
    +single-transition(all, .3s)

    &:hover
      background: rgba(255,255,255,0.3) !important

  &.facebook
    background: $facebook-color
    &:hover
      background: lighten($facebook-color, 0)

  i
    margin-right: +rem-calc(5px)

  & + span
    padding-left: +rem-calc(5px)
