.button
  @extend .radius
  @extend .expand

  background-color: $secondary-color

  &.border-button
    color: white
    border: 3px solid white
    background: transparent !important

  &.facebook
    background: $facebook-color
    &:hover
      background: lighten($facebook-color, 0)



  .primary-header-button
    border: 3px solid transparent
