label
  margin-bottom: 0.6rem
  font-weight: 700

.checkbox
  font-weight: 400
  font-size: 0.8rem

input[type="text"], input[type="email"], input[type="password"], #organization_kind, textarea, .tagsinput, input[type="tel"]
  border-radius: 4px
  font-size: 1rem
  padding: .8rem
  height: auto
  box-shadow: none

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, input[type="tel"]:focus
  border: 1px solid $primary-color
  box-shadow: none

textarea
  min-height: +rem-calc(100)

#user_remember_me, #organization_remember_me
  margin-right: +rem-calc(10)

.forgot_password
  font-size: 0.8rem
  color: $secondary-color
  font-weight: 600
  text-decoration: underline

.input
  label.checkbox, label.radio
    input
      margin-right: +rem-calc(5px)
  &.error
    small
      margin-top: 0.1em

.input.error small.error
  z-index: 4
  position: relative
  margin-top: +emCalc(-3px)

.input.error
  span.prefix, span.postfix
    border-color: $alert-color
    background: rgba($alert-color, 0.1)

label
  abbr
    color: $alert-color

.input.date
  +clearfix
  select
    width: 32%
    float: left
    margin-right: +rem-calc(5px)

.input.radio_buttons
  +clearfix
  label.radio
    width: auto
    float: left
    margin-right: +rem-calc(25px)
    input
      margin-right: +rem-calc(5px)
